<footer class="site-footer">

    <div class="wrapper">

        <p class="footer-heading">
            <a href="https://www.codewars.com/users/Beast" target="_blank" rel="noopener">
                <img src="https://www.codewars.com/users/Beast/badges/large"
                     alt="Codewars Beast" id="codewarsbeast"
                     title="The Real Beast">
            </a>
        </p>
        <p class="footer-heading">
            {{ site.last_update }}{{ site.time }}
        </p>
        <p class="footer-heading">
            <a href="https://info.flagcounter.com/S5Pc" target="_blank" rel="noopener">
                <img src="https://s01.flagcounter.com/count2/S5Pc/bg_424242/txt_ffffff/border_424242/columns_2/maxflags_10/viewers_0/labels_1/pageviews_0/flags_0/percent_0/"
                     alt="Flag Counter" id="flagcounter">
            </a>
        </p>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="social-media-list">
                    {% if site.github_username %}
                    <li>
                        {% include icon-github.html username=site.github_username %}
                    </li>
                    {% endif %}

                    {% if site.twitter_username %}
                    <li>
                        {% include icon-twitter.html username=site.twitter_username %}
                    </li>
                    {% endif %}
                </ul>
                <p>The Ruby Lightsaber Network</p>
                <ul>
                    <li>
                        <a href="http://fastphpsites.com" target="_blank" rel="noopener">Fast PHP Sites</a>
                    </li>
                    <li>
                        <a href="http://thebeast.me" target="_blank" rel="noopener">The Real Beast</a>
                    </li>
                </ul>
                <p>Other Associated Sites</p>
                <ul>
                    <li>
                        <a href="http://thebeast.me/python-charts" target="_blank" rel="noopener">Python Charts</a>
                    </li>
                    <li>
                        <a href="https://hackermanifesto.github.io/faces/" target="_blank" rel="noopener">Hacker Manifesto Faces</a>
                    </li>
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                <p>Advertising Below for your Website</p>
                <ul>
                    <li>
                        <a href="https://www.hostnetworks.com.au/" target="_blank" rel="noopener">Host Networks</a>
                    </li>
                    <li>
                        <a href="http://www.velvetsystems.com.au/" target="_blank" rel="noopener">Velvet Systems</a>
                    </li>
                    <li>
                        <a href="https://bvsydney.com.au/" target="_blank" rel="noopener">Black Velvet Sydney</a>
                    </li>
                    <li>
                        <a href="http://www.staff360.com.au/" target="_blank" rel="noopener">Staff 360</a>
                    </li>
                    <li>
                        <a href="https://database-genius.com/" target="_blank" rel="noopener">Database Genius</a>
                    </li>
                    <li>
                        <a href="https://www.grafixwiz.com/" target="_blank" rel="noopener">GrafixWiz graphic design</a>
                    </li>
                    <li>
                        <a href="http://liperama.com/" target="_blank" rel="noopener">Liperama</a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <p>Great Learning Resources</p>
                <ul>
                    <li><a href="https://www.codecademy.com/" target="_blank" rel="noopener">Codecademy</a></li>
                    <li><a href="https://www.freecodecamp.org/" target="_blank" rel="noopener">freeCodeCamp</a></li>
                    <li><a href="https://www.codewars.com/" target="_blank" rel="noopener">CodeWars</a></li>
                    <li><a href="https://www.khanacademy.org/" target="_blank" rel="noopener">Khan Academy</a></li>
                    <li><a href="https://www.datacamp.com/" target="_blank" rel="noopener">DataCamp</a></li>
                    <li><a href="https://www.codeschool.com/" target="_blank" rel="noopener">Code School</a></li>
                    <li><a href="https://www.codingame.com/" target="_blank" rel="noopener">CodinGame</a></li>
                    <li><a href="https://checkio.org/" target="_blank" rel="noopener">CheckiO</a></li>
                    <li><a href="https://codecombat.com/" target="_blank" rel="noopener">Code Combat</a></li>
                    <li><a href="https://www.hackerrank.com" target="_blank" rel="noopener">HackerRank</a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-2 footer-col-last">
                <p>Attention - Advertising Space !!!</p>
            </div>
        </div>
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <p>Notable Websites</p>
                <ul>
                    <li>
                        <a href="https://distrowatch.com/" target="_blank" rel="noopener">DistroWatch</a>
                    </li>
                    <li>
                        <a href="http://www.rexegg.com/" target="_blank" rel="noopener">RexEgg</a>
                    </li>
                    <li>More to come soon...</li>
                </ul>
            </div>

            <div class="footer-col footer-col-2 footer-col-last">
                <p>Attention - Advertising Space !!!</p>
            </div>
        </div>
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <p>Online Tools</p>
                <ul>
                    <li>
                        <a href="https://validator.w3.org/nu/" target="_blank" rel="noopener">Nu Html Checker</a>
                    </li>
                    <li>
                        <a href="https://gtmetrix.com/" target="_blank" rel="noopener">GTmetrix</a>
                    </li>
                    <li>
                        <a href="https://developers.google.com/web/tools/lighthouse/" target="_blank" rel="noopener">Lighthouse</a>
                    </li>
                    <li>
                        <a href="https://developers.google.com/speed/pagespeed/insights/" target="_blank" rel="noopener">PageSpeed Insights</a>
                    </li>
                    <li>
                        <a href="https://www.tineye.com/" target="_blank" rel="noopener">TinEye</a>
                    </li>
                </ul>
            </div>

            <div class="footer-col footer-col-2 footer-col-last">
                <p>Attention - Advertising Space !!!</p>
            </div>
        </div>
        <div class="footer-col-wrapper">
            <img id="featuredimage" src="/assets/images/three-sabers-740.png" alt="The Three Sabers" title="The Three Sabers">
            <a id="theend"></a>
        </div>

    </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110167175-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-110167175-1');
</script>
