/*
Error: Invalid CSS after "...ial, sans-serif": expected "{", was ";"
        on line 8 of main.scss

3: ---
4: 
5: 
6: 
7: // Our variables
8: $base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
9: $base-font-size:   17px;
10: $base-font-weight: 400;
11: $small-font-size:  $base-font-size * 0.875;
12: $base-line-height: 1.5;
13: 

Backtrace:
main.scss:8
/Users/Beast/.rbenv/versions/2.5.0-dev/lib/ruby/gems/2.5.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:1278:in `expected'
/Users/Beast/.rbenv/versions/2.5.0-dev/lib/ruby/gems/2.5.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:1208:in `expected'
/Users/Beast/.rbenv/versions/2.5.0-dev/lib/ruby/gems/2.5.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:1203:in `tok!'
/Users/Beast/.rbenv/versions/2.5.0-dev/lib/ruby/gems/2.5.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:677:in `block'
/Users/Beast/.rbenv/versions/2.5.0-dev/lib/ruby/gems/2.5.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:670:in `ruleset'
/Users/Beast/.rbenv/versions/2.5.0-dev/lib/ruby/gems/2.5.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:696:in `block_child'
/Users/Beast/.rbenv/versions/2.5.0-dev/lib/ruby/gems/2.5.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:686:in `block_contents'
/Users/Beast/.rbenv/versions/2.5.0-dev/lib/ruby/gems/2.5.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:137:in `stylesheet'
/Users/Beast/.rbenv/versions/2.5.0-dev/lib/ruby/gems/2.5.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:41:in `parse'
/Users/Beast/.rbenv/versions/2.5.0-dev/lib/ruby/gems/2.5.0/gems/sass-3.5.3/lib/sass/engine.rb:414:in `_to_tree'
/Users/Beast/.rbenv/versions/2.5.0-dev/lib/ruby/gems/2.5.0/gems/sass-3.5.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/Beast/.rbenv/versions/2.5.0-dev/lib/ruby/gems/2.5.0/gems/sass-3.5.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/Beast/.rbenv/versions/2.5.0-dev/lib/ruby/gems/2.5.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/Beast/.rbenv/versions/2.5.0-dev/lib/ruby/gems/2.5.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Beast/.rbenv/versions/2.5.0-dev/lib/ruby/gems/2.5.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Beast/.rbenv/versions/2.5.0-dev/lib/ruby/gems/2.5.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Beast/.rbenv/versions/2.5.0-dev/lib/ruby/gems/2.5.0/gems/sass-3.5.3/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/Beast/.rbenv/versions/2.5.0-dev/lib/ruby/gems/2.5.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/Beast/.rbenv/versions/2.5.0-dev/lib/ruby/gems/2.5.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/Beast/.rbenv/versions/2.5.0-dev/lib/ruby/gems/2.5.0/gems/sass-3.5.3/lib/sass/exec/base.rb:52:in `parse'
/Users/Beast/.rbenv/versions/2.5.0-dev/lib/ruby/gems/2.5.0/gems/sass-3.5.3/lib/sass/exec/base.rb:19:in `parse!'
/Users/Beast/.rbenv/versions/2.5.0-dev/lib/ruby/gems/2.5.0/gems/sass-3.5.3/bin/scss:13:in `<top (required)>'
/Users/Beast/.rbenv/versions/2.5.0-dev/bin/scss:23:in `load'
/Users/Beast/.rbenv/versions/2.5.0-dev/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ial, sans-serif\": expected \"{\", was \";\"\A         on line 8 of main.scss\A \A 3: ---\A 4: \A 5: \A 6: \A 7: // Our variables\A 8: $base-font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\A 9: $base-font-size:   17px;\A 10: $base-font-weight: 400;\A 11: $small-font-size:  $base-font-size * 0.875;\A 12: $base-line-height: 1.5;\A 13: "; }
